.sidebar {
  width: 0;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
}

.sidebar a {
  color: blue;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: ivory;
  color: white;
  padding: 8px 10px;
  border: solid 3px #333;
  margin: 5px 0px 0px 10px;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #444;
}

.iconbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: solid 0px #333;
  margin: 0px;
  border-radius: 5px;
  position: relative;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.tooltip {
  position: relative;
  display: inline-block;
  padding:2px;
  /* border-bottom: 1px dotted black; */
}

.spacer { position: relative; width: 10px; background-color: red;}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  padding: 5px 5px;
  white-space: nowrap;

  /* Position the tooltip */
  position: absolute;
  top:35px;
  left:-15px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
