.sidebar {
  position: fixed;
  z-index: 7;
  left: -500px; top: 105px; width:365px;
  white-space: wrap;
  background-color: black;
  overflow-x: hidden;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-left: 52px;
}

.sidebar-title { color: #333; font-size: 28px; font-weight: 700;}
.sidebar-subtitle { color: #666666; font-weight: bold; }

#sidebar0 {
  background-color: lightgrey;
  left: 4000px;
  top: 0;
  width:365px;
  margin:10px 0 0 0;
  padding: 10px;
  transition: 0.3s;
}

#sidebar-buttons {
  position:relative; z-index:9; top: 100px; width:47px;
}

.sidebar a {
  color: blue;
  transition: 0.2s;
}

.sidebar a:hover {
  color: #222;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: ivory;
  color: white;
  padding: 8px 10px;
  border: solid 3px #333;
  margin: 5px 0px 0px 10px;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #444;
}

.iconbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: solid 0px #333;
  margin: 0px;
  border-radius: 10px;
  position: relative;
  margin-top: 6px;
}


.icon-img {
  position: relative; top:4px; padding: 0px 4px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.tooltip {
  position: relative;
  display: inline-block;
  padding:2px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 5px;
  white-space: nowrap;

  /* Position the tooltip */
  position: absolute;
  top:5px;
  left:45px;
  z-index: 1;
  font-size: 18px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
